body {
  background-color: #ddd;
}

.signin-container {
  text-align: center;
  padding-top: 100px;
}

.title-center {
  margin-bottom: 20px;
}

#result {
  font-size: 1.5em;
}

.container {
  max-width: 900px;
  background: #fff;
  height: 100vh;
  padding: 0;
  box-shadow: 0 0 4px 2px #999;
}

.carousel-slide {
  width: 100%;
  height: 450px;
}

.page-title {
  height: 40px;
  margin: 10px 0;
}

.message-list {
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
}

.message-list li {
  color: #3c763d;
}

.add-btn {
  margin-top: 2px;
}

.instructions {
  margin-left: 15px;
  margin-bottom: 10px;
}

.card-box {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  margin: 10px;
}

.toys-link {
  color: #000;
}

.toys-link:hover {
  text-decoration: none;
}

.card img {
  height: 150px;
  width: 100%;
}

.card-text {
  font-size: 14px;
}

form {
  width: 400px;
  margin: 20px auto;
}

form h2 {
  text-align: center;
  margin: 20px;
}

.form-text {
  margin-left: -14px;
  margin-top: -10px;
  font-size: .95em;
}

.img-box {
  display: flex;
  justify-content: center;
}

form img {
  max-width: 350px;
  max-height: 250px;
}

.del-group {
  display: flex;
  justify-content: center;
}

.del-group .btn {
  margin: 0 5px;
}

.back-btn {
  margin-left: 15px;
}

.back-btn:hover {
  text-decoration: none;
}
