.signin-container {
    text-align: center;
    margin-top: 100px;
}

.title-center {
    margin-bottom: 10px;
}

.container {
    max-width: 900px;
}

#carousel {
    height: 10px;
}

.page-title {
    height: 40px;
}

.message-list {
    list-style-type: none;
}

.add-btn {
    margin-top: 2px;
}

.card-box {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    margin: 10px;
}

.card-link {
    color: #000;
    text-decoration: none;
}

.card img {
    height: 150px;
    width: 100%;
}
