{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2>Animals</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
    <li><strong>{{ message }}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href="{{ url_for('newAnimal') }}">Add animal</a>

</br>
</br>

{% for animal in animals %}

<img src="{{ animal.photo }}" width="100" height="100">
</br>
Name: {{ animal.name }}
</br>
Age: {{ animal.age }}
</br>
Species: {{ animal.species }}
</br>
<a href="{{ url_for('editAnimal', animal_id=animal.id) }}">Edit</a>
</br>
<a href="{{ url_for('deleteAnimal', animal_id=animal.id) }}">Delete</a>
</br>
<a href="{{ url_for('showToys', animal_id=animal.id) }}"><p>Toys</p></a>

{% endfor %}
{% endblock %}
