<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>Animals</h1>

        <a href="{{ url_for('newAnimal') }}">Add animal</a>

        </br>
        </br>

        {% for animal in animals %}

        Name: {{ animal.name }}
        </br>
        Age: {{ animal.age }}
        </br>
        Species: {{ animal.species }}
        </br>
        <a href="{{ url_for('editAnimal', animal_id=animal.id) }}">Edit</a>
        </br>
        <a href="{{ url_for('deleteAnimal', animal_id=animal.id) }}">Delete</a>
        </br>
        <a href="{{ url_for('showToys', animal_id=animal.id) }}"><p>Toys</p></a>

        {% endfor %}
    </body>
</html>
