{% extends "main.html" %}
{% block content %}
<div class="container">
  {% include "header.html" %}
  {% include "carousel.html" %}

  <div class="row page-title">
    <div class="col-md-2">
      <h2>Animals</h2>
    </div>
    <div class="col-md-8">
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul class="message-list">
        {% for message in messages %}
          <li><strong>Awesome! </strong>{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary float-right add-btn" href="{{url_for('newAnimal')}}">Add animal</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-muted instructions">
      Click on an animal's card to see its toys.
      If no animals currently exist, add one!
    </div>
  </div>

  <div class="card-box">
    {% for animal in animals %}
    <a class="toys-link" href="{{url_for('showToys', animal_id=animal.id)}}">
      <div class="card text-center">
        <img class="card-img-top" src="{{animal.photo}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{animal.name}}</h4>
          <p class="card-text text-muted">
            Age: {{animal.age}}
            </br>
            Species: {{animal.species}}
          </p>
          <button class="btn btn-sm btn-primary edit-btn" href="{{url_for('editAnimal', animal_id=animal.id)}}">Edit</button>
          <button class="btn btn-sm btn-danger del-btn" href="{{url_for('deleteAnimal', animal_id=animal.id)}}">Delete</button>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

</div>
{% endblock %}
