<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>

    <body>

        <form action="{{ url_for('deleteToy', animal_id=animal_id, toy_id=toy_id) }}" method="post">
            <h1> Are you sure you want to delete {{ toy.name }}? </h1>
            </br>
            <input type="submit", value="Delete">
            </br>
            </br>
            <a href="{{ url_for('showToys', animal_id=animal_id) }}">Cancel</a>
        </form>

    </body>

</html>
